.button {
  border-radius: 4px;
  padding: 0 10px;
  margin: 0 10px;
  border: 1px solid;
  color: #fff;
  cursor: pointer;
  background-color: #ff9948;
  user-select: none;
}

.add {
  border-radius: 4px;
  padding: 0 10px;
  color: #fff;
  cursor: pointer;
  background-color: #ff6948;
}

.max {
  color: red;
  font-size: 12px;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 10px 0;
  border: 1px solid #dfdfdf;
  padding: 10px;
  border-radius: 4px;
}

.remove {
  border-radius: 4px;
  padding: 0 10px;
  margin: 0 10px;
  border: 1px solid;
  color: #fff;
  cursor: pointer;
  user-select: none;
}