@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
}


.column {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 26px;
}

.list {
  padding: 10px;
}

.link {
  color: blue;
}